@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-medium text-text bg-background;

    /* https://www.realtimecolors.com/?colors=082F49-BAE6FD-F0F9FF-E0F2FE-7DD3FC&fonts=Noto%20Sans-Noto%20Sans */

    --text: 8 47 73;
    --background: 186 230 253;
    --primary: 240 249 255;
    --secondary: 224 242 254;
    --accent: 125 211 252;
  }

  .dark {
    /* https://www.realtimecolors.com/?colors=F1F5F9-0F172A-1E293B-334155-475569&fonts=Noto%20Sans-Noto%20Sans */

    --text: 241 245 249;
    --background: 15 23 42;
    --primary: 30 41 59;
    --secondary: 51 65 85;
    --accent: 71 85 105;
  }
}

@starting-style {
  .initial-opacity-0 {
    @apply opacity-0;
  }

  .initial-backdrop-blur-0 {
    @apply backdrop-blur-0;
  }

  .initial-scale-0 {
    @apply scale-0;
  }
}
